html {
    height: 100%;
}

body {
    height: 100%;
}

#client {
    /* height: calc(100vh - 35px); */
    height: 100%;
    max-height: 100%;
    width: 100%;
}

#client #output {
    height: calc(100% - 20px /* padding */ - (1.5em + 18px) /* inputfield */);
    max-height: calc(100% - 20px /* padding */ - (1.5em + 18px) /* inputfield */);
    padding: 10px;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}

#menu {
    float: right;
    position: fixed;
    top: 3px;
    right: 21px; /* to accommodate the scrollbar. Anyone know a better way to deal with this? */
}

#menu #stuffList {
}

#inputfield {
    position: fixed;
    width: calc(100vw - 18px); /* padding 3 + border 1 + margin 5 */
    height: 1.5em;
    margin: 5px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
}

#directionPad {
    position: fixed;
    top: 50%;
    right: 21px;
    transform: translate(0%, -50%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
