table {border-collapse: collapse;}

body, #menu ul li {
    color: #bbbbbb;
    background-color: #272727;
} 

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#inputfield {
    padding: 3px;
    font-family: monospace;
    color: #333333;
    background: #f3f3f3;
    border: 1px solid #ffffff;
    border-radius: 3px;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.30);
}

#inputfield:focus {
    outline: none;
}

#client #output {
    padding: 10px;
    font-family: monospace;
    line-height: 14px;
    white-space: pre-wrap;
    color: #dddddd;
}

ul#menuitems {
    display: none;
}

#gearCheckbox:checked ~ ul#menuitems {
    display: inline;
}

#pauseCheckbox:checked ~ label#pause {
    color: red;
    background: white;
}

ul#menuitems > li {
    list-style-type:none;
    position: relative;
}

#menu input {
    display: none;
}

#menu label {
    float: right;
}

#menu ul li a, #menu ul li input {
    display:block;
    padding:12px;
    color:#404040;
    background: #f0f0f0;
    text-decoration:none;
    transition:background .1s;
    white-space:nowrap;
}

#menu input {
    font-family: monospace;
    color: #333333;
    border: 3px solid #ffffff;
    border-radius: 10px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.70);
}

#menu ul li a:hover, #menu ul li input:hover {
    background: #b0b0b0;
}

#menu #stuffList {
    display: table;
    border-spacing: 5px;
    background-color: #272727;
    border: 2px solid #373737;
    padding-left: 0px;
}

#stuffListBox {
    display: none;
    position: fixed;
    top: 55px;
    right: 20px;
    max-width: 30%;
    min-width: 10em;
    /* max-height: calc(100% - 55px - (1.5em + 18px)); */
    max-height: 30%;
    overflow-y: auto;
}

#gearCheckbox:checked ~ #stuffList {
    display: table;
}

#stuffList li {
    list-style-type:none;
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #020202;
    color: #101010;
    margin: 0px;
    display: table-row;
}

#stuffList li div {
    display: table-cell;
}

#stuffList li:nth-child(even) {
    background: #474747;
}

#stuffList li:hover {
    background: #d2ffd2;
    padding: 4px;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    padding: 1em;
    display: none;
}

#popup input, #popup select {
    margin: 1em;
    display: block;
}

#popup span, #popup input {
    display: block;
}

#directionPad {
    width: 3em;
    border-radius: 3px;
    font-size: 300%;
    color: #373737;
}

#directionPad div.active {
    color: #dddddd;
}
